<article class="list">

    <section class="list-head">
        <h2><%= link_to list.title, list_path(list) %></h2>
        <small>
            <time><%= list.created_at.to_date.strftime("%d %B, %Y") %></time>
            |
            <%= link_to 'Изменить', edit_list_path(list) %>
            |
            <%= link_to 'Удалить', list_path(list), method: :delete, data: { confirm: 'Удалить список?' } %>
        </small>
    </section>

    <section class="list-tasks">
    </section>

</article>

