<%= link_to 'Новый список', new_list_path %>
<section>
    <tbody>
      <% @lists.each_with_index do |list, index| %>
        <table>
            <tr>
                <td><%= list.title %></td>
                    <%= link_to 'Изменить', edit_list_path(list), class: 'btn btn-outline-primary btn-sm'  %>
                    <%= link_to 'Удалить', list_path(list), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-outline-danger btn-sm'  %>
                </td>
            </tr>
        <table>
      <% end %>
    </tbody>
</section>